<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cufe.cmp.db.elakeel">

    <application android:theme="@style/AppTheme">
        <activity
                android:name=".UI.Hossam.AfterLoginActivity"
                android:label="@string/title_activity_after_login"
                android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
                android:name=".UI.Hossam.PrevOrdersListActivity"
                android:label="@string/title_activity_prev_orders_list__view"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.RestuarantChefsActivity"
                android:label="@string/title_activity_restuarant__chefs"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.LoginActivity"
                android:label="@string/title_activity_login"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
                android:name=".UI.Hossam.ChefListActivity"
                android:label="@string/title_activity_chefs_list_view"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.RestaurantMenuActivity"
                android:label="@string/title_activity_restuarant__menu"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.MenuListActivity"
                android:label="@string/title_activity_menu__list__view"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.MealActivity"
                android:label="@string/title_activity_meal"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.ReviewActivity"
                android:label="@string/title_activity_review_acivity"
                android:theme="@style/AppTheme.NoActionBar"/>
        <activity
                android:name=".UI.Hossam.MealRateListActivity"
                android:label="@string/title_activity_meal__rate__list_view"
                android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name=".UI.Sherif.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".UI.Sherif.SignUpActivity"/>
        <activity android:name=".UI.Sherif.FilterationActivity"/>
        <activity android:name=".UI.Sherif.AdminFunctionalitiesActivity"/>
        <activity android:name=".UI.Sherif.AddRestaurantActivity"/>
        <activity android:name=".UI.Sherif.AddAdminActivity"/>
        <activity android:name=".UI.Sherif.ManagerActivity"/>
        <activity android:name=".UI.Sherif.MenuActivity"/>
        <activity android:name=".UI.Sherif.MenuListViewItemActivity"/>
    </application>

</manifest>